/* Global styles */

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  color: #007bff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header styles */

header {
  background-color: #007bff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}

/* Hero section styles */

.hero {
  background-image: url('server.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #ffffff;
  padding: 100px 20px;
  text-align: center;
}

.hero h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 40px;
}

/* Hosting plans section styles */

.plans {
  padding: 80px 20px;
  text-align: center;
  background-color: #0063cc;
}

.plans h3 {
  font-size: 32px;
  margin-bottom: 40px;
}

.plan {
  background-color: #007bff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 20px;
  width: 300px;
  vertical-align: top;
  text-align: left;
  padding: 20px;
}

.plan h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.plan .price {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.plan ul {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Support section styles */

.support {
  background-color: #007bff;
  color: #ffffff;
  padding: 100px 20px;
  text-align: center;
}

.support h3 {
  font-size: 32px;
  margin-bottom: 40px;
}

.support p {
  font-size: 24px;
  margin-bottom: 40px;
}

/* Button styles */

.btn {
  background-color: #007bff;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
  background-color: #0056b3;
}

/* Footer styles */

footer {
  background-color: #0063cc;
  padding: 20px;
  text-align: center;
}
